{
    "_comment_for_cmdPrefix": "how to start the commands",
    "cmdPrefix": "!",
	
	
    "_comments_for_ownerID": "it will always listen to you even when you don't have an Admin or Moderator role",
    "ownerID": "",
	
	
    "_comments_for_ConsoleLog": {
        "Available": "eventsOnly, serverOnly, all",
        "eventsOnly": "for when user joins my server or another server",
        "serverOnly": "everything that happens in my server",
        "all": "every event, even from other servers"
    },
    "consoleLog": "serverOnly",
	
	
    "_comments_for_botSupport": "share your webhook in order for me to send IMPORTANT MESSAGES such as an UPDATE, or ability to reply back when sending a !bug or !feedback",
    "botSupport": "no",
	
	
    "_comments_for_spoofNinja": "pretty much self explained, very important to get the bot's ID",
    "spoofNinja": {
        "name": "SpoofNinja",
        "id": "",
        "token": "",
        "avatar": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/NinjaAvatar.png"
    },
	
	
    "_comments_for_moderatorBot": "this bot will be in charge of issuing warnings, kicks, and bans",
    "moderatorBot": {
        "token": ""
    },
	
	
    "_comments_for_myServer": "pretty much self-explaied",
    "myServer": {
        "id": "",
        "name": "",
        "invite": "",
        "cmdChanIDs": [],
        "webhook": "",
        "adminRoleName": "Admin",
        "modRoleName": "Moderator",
        "onSpooferFound": "instaban",
        "whiteListedRoles": [
            "Admin",
            "Moderator",
            "Developer",
            "Mapper",
            "VIP"
        ],
        "whiteListedMembersIDs": [
            "237597448032354304",
	    "223629798516195349",
            "329584924573040645",
            "197369908307165184"
        ]
    },
	
	
    "_comments_for_embedSettings": "cosmetic and appearance",
    "embedSettings": {
        "goodColor": "#00FF00",
        "warningColor": "#FF9900",
        "dangerColor": "#FF0000",
        "snipeImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/User-Spoof.png",
        "honorImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/User-Badge.png",
        "startImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/Search-Start.png",
        "endImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/Search-Done.png",
        "checkedImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/checked.png"
    }
}
